.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .loader {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media screen and (max-width: 480px) {
  .loader {
    transform: translate(-50%, -50%) scale(0.6);
  }
}